+++
title = "Twilio proof of consent"
date = 2025-01-07T00:13:00Z
author = "Jason Knight"

+++

To whom this may concern, I do consent to twilio messaging toll-free for a simple events use case.
