{{ partial "header.html" . }} {{ $baseurl := .Site.BaseUrl }}
<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <h1>Jason M Knight</h1>
        <h3><a href="/">Home</a> → <a href="/post/">Blog</a> → {{ .Title }} </h3>
      </div>
      <!--/.col-lg-12 -->
    </div>
    <!--/.row -->
  </div>
  <!--/.container -->
</div>
<!--/.#headerwrap -->
<div class="container desc">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">

      <section id="main">
        <h1 itemprop="name" id="title">{{ .Title }}</h1>
        <div>
          <article itemprop="articleBody" id="content">
            {{ .Content }}
          </article>
        </div>
      </section>

    </div>
  </div>
  <!--/.row -->
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <a href="https://muut.com/i/jasonknight/comments" class="muut" type="dynamic">Comments</a>
      <script src="//cdn.muut.com/1/moot.en.min.js"></script>
      <style type="text/css">
        #moot-logo {
          padding:10px;
        }
      </style>
    </div>
  </div>
  <!--/.row-->
</div>
<!--/.container -->



{{ partial "footer.html" . }}
